
.DS_Store
.ipynb_checkpoints/01_ExploratoryDataAnalysisWithIrisData-checkpoint.ipynb
.ipynb_checkpoints/B01_Regression-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
.DS_Store
*.*ipynb_checkpoints
.DS_Store
.DS_Store
