
.DS_Store
.ipynb_checkpoints/01_ExploratoryDataAnalysisWithIrisData-checkpoint.ipynb
.ipynb_checkpoints/B01_Regression-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
.DS_Store
*.*ipynb_checkpoints
.DS_Store
.DS_Store
Slides/chapter4.pdf
Slides/chapter4.pdf
Slides/chapter3.pdf
.DS_Store
Slides/chapter3.pdf
Slides/.chapter3.pdf.icloud
Slides/chapter4.pdf
Slides/.chapter1.pdf.icloud
Slides/.chapter2.pdf.icloud
Slides/.chapter4.pdf.icloud
Slides/chapter2.pdf
Slides/chapter3.pdf
Slides/chapter1.pdf
Slides/chapter2.pdf
Slides/chapter3.pdf
Slides/chapter4.pdf
Slides/chapter4.pdf
